<!-- Based on these two earlier files:
studies/dynamic-table.html
django/run_make/templates/run_make/ingest_full_spec.html
-->

<script>
  function insert_insertRowButton (divName) {
    // Equivalent placing the following HTML at the end of the section
    // with id "divName":
    //    <input type="button"
    //           id="addmorePOIbutton"
    //           value="Add row"
    //           onclick="insertRow()"/>
    var button = document.createElement('input');
    button.type = 'button';
    button.id = divName + ' button to add row';
    button.value = 'Add row';
    button.onclick = function() { insertRowf( divName ) };
    ( document.getElementById ( divName )
      .appendChild ( button ) );
  }
</script>

<form action = "{% url 'run_make:dynamic_form'%}"
      enctype="multipart/form-data"
      method = "post">
  {% csrf_token %}

  <div id="Income tax">
    <table id="Income tax table" border="1">
      <tr> <!-- PITFALL: This "head matter" could be wrapped in <thead> tags,
                and similarly the input data rows wrapped in <tbody> tags.
                Doing so doesn't accomplish what I'd hoped --
                the 0th row of the table will still, awkwardly,
                be the names of the columns. -->
            <td>Min income</td>
            <td>Max income</td>
            <td>Tax rate</td>
            <td></td>
      </tr>
      <tr>
        <!-- I distinguish strings like "min income id" and "min income"
             to know later whether I'm looking at an ID or a name. -->
        <td><input type="number"
                   step="any"
                   id="min income id"
                   name="min income" /></td>
        <td><input type="number"
                   step="any"
                   id="max income id"
                   name="max income"/></td>
        <td><input type="number"
                   step="any"
                   id="tax rate id"
                   name="tax rate"/></td>
        <td><input type="button"
                   id="delPOIbutton"
                   value="Delete"
                   onclick="deleteRow(this)"/></td>
      </tr>
    </table>
    <script>
      insert_insertRowButton("Income tax") // Could be called from anywhere.
    </script>
  </div>

  <input type="submit" value="Submit">
</form>

<script>
  var uniqueIdSuffix = 1 // PITFALL: Mutates.

  function deleteRow(row) {
    var table=document.getElementById('Income tax table');
    if (table.rows.length > 2) {
      // PITFALL: If there are is only one row of values --
      // the first row being titles, not values --
      // then the user is not allowed to delete it.
      // If they could, they could break `insertRow`.
      var i=row.parentNode.parentNode.rowIndex;
      document.getElementById('Income tax table').deleteRow(i);
    }
  }

  function insertRow (divName) {
    var table=document.getElementById(divName + ' table');
    // Deep clone the first data (not titles) row. (row[0] is titles.)
    var new_row = table.rows[1].cloneNode(true);

    for (let i = 0; i < 3; i++) {
      // Give the first three rows unique IDs and empty values.
      // (IDs for inputs have to be unique in a document.)
      // PITFALL: These IDs are pretty useless -- they bear no relation
      // to the row or column number. If I ever want to refer to them,
      // I'll want to make them do that --
      // which is complicated, because interior rows can be deleted.
      var inp = new_row.cells[i].getElementsByTagName('input')[0];
      inp.id += " - " + uniqueIdSuffix ++; // PITFALL: Implicit cast str->int
      inp.value = '';
    }

    // Append the new row to the table.
    table.appendChild( new_row );
  }
</script>
