<!-- Based on these two earlier files:
studies/dynamic-table.html
django/run_make/templates/run_make/ingest_full_spec.html
-->

<script>
  var uniqueIdSuffix = 1 // PITFALL: Mutates.

  function deleteRow(button) {
    console.log( button.nodeName );
    var cell  = button . parentNode;
    var row   = cell   . parentNode;
    var table = row    . parentNode;
    if (table.rows.length > 2) {
      // PITFALL: If there is only one row of values --
      // the first row being titles, not values --
      // then the user is not allowed to delete it.
      // This isn't critical; it just reduces user confusion.
      table . deleteRow( row . rowIndex );
    }
  }

  function insertRow (tax_name) {
    // Duplicates some of the code in insertTable,
    // and maybe some from insertRow.
    var table = document.getElementById( tax_name + ' table');
    var row   = document.createElement('tr');
    table . appendChild ( row );
    row . appendChild ( inputCell( tax_name + ", min income" ) );
    row . appendChild ( inputCell( tax_name + ", max income" ) );
    row . appendChild ( inputCell( tax_name + ", tax rate" ) );
    row . appendChild ( deleteRow_cell() );
  }

  function insert_insertRowButton (tableName) {
    var button = document . createElement ( 'input' );
    button . type = 'button';
    button . id = tableName + ' button to add row';
    button . value = 'Add row';
    button . onclick = function () { insertRow ( tableName ) };
    ( document . getElementById ( tableName )
      . appendChild ( button ) );
  }
</script>

<form action = "{% url 'run_make:dynamic_form'%}"
      enctype="multipart/form-data"
      method = "post">
  {% csrf_token %}

  <div id="Income tax">
    <table id="Income tax table" border="1">
      <tr> <!-- PITFALL: This "head matter" could be wrapped in <thead> tags,
                and similarly the input data rows wrapped in <tbody> tags.
                AFAIK, doing so doesn't accomplish anything I need --
                the 0th row of the table will still, awkwardly,
                be the names of the columns. -->
            <td>Income tax, min income</td>
            <td>Income tax, max income</td>
            <td>Income tax, tax rate</td>
            <td></td>
      </tr>
      <tr>
        <!-- I distinguish strings like "min income id" and "min income"
             to know later whether I'm looking at an ID or a name. -->
        <td><input type="number"
                   step="any"
                   id="Income tax, min income id"
                   name="Income tax, min income" /></td>
        <td><input type="number"
                   step="any"
                   id="Income tax, max income id"
                   name="Income tax, max income"/></td>
        <td><input type="number"
                   step="any"
                   id="Income tax, tax rate id"
                   name="Income tax, tax rate"/></td>
        <td><input type="button"
                   id="delPOIbutton"
                   value="delete row"
                   onclick="deleteRow(this)"/></td>
      </tr>
    </table>
    <script>
      insert_insertRowButton("Income tax") // Could be called from anywhere.
    </script>
  </div>

  <input type="submit" value="Submit">
</form>

<script>
  function deleteRow_cell () {
    let cell = document.createElement("td")
    var button = document.createElement('input');
    cell.appendChild ( button )
    button.type = 'button';
    button.id = "delete row id" + uniqueIdSuffix++;
    button.value = 'delete row';
    button.onclick = function() { deleteRow( button ) };
    return cell
  }

  function inputCell ( name ) {
    let cell = document.createElement("td")
    let input = document.createElement('input');
    input.id   = name + " id";
    input.name = name;
    input.step = "any";
    input.type = "number";
    cell.appendChild(input)
    return cell;
  }

  function headingCell ( name ) {
    let cell = document.createElement('th');
    cell.innerHTML = "Min income";
    return cell
  }

  function insertTable( divName ) {
    let table = document.createElement('table');
    table.id = divName + " table";
    table.border = "1";
    document.getElementById(divName).appendChild(table);

    let row_1 = document.createElement('tr');
    row_1.appendChild( headingCell( "Min income" ) )
    row_1.appendChild( headingCell( "Max income" ) )
    row_1.appendChild( headingCell( "Tax rate" ) )
    table.appendChild(row_1);

    insertRow( divName )
  }
</script>

<div id="div 2">
  <script>
    insertTable("div 2")
    insert_insertRowButton("div 2")
  </script>
</div>
