<form action = "{% url 'run_make:ingest_spec_as_tables'%}"
      enctype="multipart/form-data"
      method = "post">
  {% csrf_token %}

  {% for field in advanced_specs_form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      <br>
    </div>
  {% endfor %}

  <hr>
  <hr>
  Cada una de las siguientes tablas son opcionales.
  Le permiten cambiar varios aspectos de la ley de tributación.
  <hr>

  {% for path,comment in rate_tables.items %}
    {{comment}}<br>
    <a href={{path}} download>
      Descargar modelo.<br>
    </a>
    Subir su versión modificado:
    <input type="file" name={{path}}>
    <hr>
  {% endfor %}

  Ojo: Si ya has presentado una solicitud, presentar una nueva borrará la previa.<br>

  <input type="submit" value="Submit">
</form>
