<!-- PITFALL: Confusingly, when the form below is submitted,
it is handed (per the form's "action =" option)
back to the same URL where it was generated.
That URL treats gets and posts differently.
See ingest_json in views/examples.py for details. -->
<form action = "{% url 'run_make:ingest_json'%}"
      method = "post">
  {% csrf_token %}

  {% for field in form %} <!-- PITFALL: This "form" is data from Django, but
                               the earlier "form" is an HTML keyword. -->
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
  {% endfor %}
  <input type="submit" value="Submit">
</form>
