<!-- Based on django/run_make/templates/run_make/dynamic_form.html

PITFALL: Global-ish names
-------------------------
Basically the names of HTML things are a hidden bowl of spaghetti.
Don't even trust the names described in this comment.
Instead, to consult the single source of truth, open the page in Firefox,
and then open the Inspector with Ctrl-Shift-C, to see the generated DOM.

At the moment, the ID "User input" resembles a global variable.
  It does not change, but it does confuse at least this reader.
There are also some elements called `tax_name + " table"`,
  where `tax_name` is some tax. For each tax, there should be such a table.
-->

<script>

  // // // //
  // // // // Tax-agnostic utilities
  // // // //

  cop_per_uvt = 38004

  function column_from_list_of_rows (
    column_index, // A numeric index into each row.
                  // PITFALL: Range errors are possible.
    rows // A list of lists of equal length.
  ) {
    return rows . map (
      function (row) {
        return row [ column_index ] } ) }

  function mkCell_text ( kind, // either "th" (header) or "td" (normal)
                         text ) {
    let cell = document . createElement ( kind )
    cell . innerHTML = text
    return cell
  }

  function mkCell ( kind, // either "th" (header) or "td" (normal)
                    content ) {
    let cell = document . createElement ( kind )
    cell . appendChild ( content )
    return cell
  }

  function mkInput_numeric ( name, value = null ) {
    let input = document . createElement ( "input" );
    input . name = name;
    input . step = "any";
    input . type = "number";
    if (value != null) {input . value = value; }
    else               {input . value = 0; };
    return input
  }

  function tie_numeric_inputs_via_a_factor ( in1, in2, factor ) {
    // PURPOSE: Whenever a value `x` is input into `in1`,
    // `factor*x` will appear in `in2`. Similarly, whenever `x`
    // is input into `in2`, `x / factor` will appear in `in1`.
    //
    // ILLUSTRATION:
    // See two_views_of_the_same_data.html
    //
    // PITFALL: Currently this generates no infinite loop,
    // but if the evaluation rules defined by Javascript ever change,
    /// it might.
    in1.addEventListener(
      'change',
      function() { in2.value = in1.value * factor } )
    in2.addEventListener(
      'change',
      function() { in1.value = in2.value / factor } )
  }

  function mkInput_radio ( name, value, checked = false ) {
    let input = document . createElement ( "input" )
    input . name = name // What it determines.
                        // PITFALL: Radio buttons with the same name
                        // are mutually exclusive alternatives.
    input . value = value // What it would mean if checked.
    input . type = "radio"
    input . checked = checked
    return input
  }

  // Modifies `hostForm` by appending a horizontal rule (line).
  // Returns nothing.
  function insertHr ( hostForm ) {
    // PITFALL: Bizarrely, if a "br" rather than an "hr" is created here,
    // it only works for the first table.
    hostForm . appendChild (
      document . createElement ( "hr" ) )
  }

  // Delete the row containing the button.
  function deleteRow ( button ) {
    var cell  = button . parentNode;
    var row   = cell   . parentNode;
    var table = row    . parentNode;
    if ( table.rows.length > 2 ) {
      // PITFALL: If there is only one row of values --
      // the first row being titles, not values --
      // then the user is not allowed to delete it.
      // This isn't critical. It just reduces user confusion.
      table . deleteRow ( row . rowIndex );
    }
  }

  // Delete the column containing the button.
  function deleteColumn ( button ) {
    var cell  = button . parentNode
    var table = cell   . parentNode . parentNode // Cell -> Row -> Table
    var colIndex = cell . cellIndex
    if ( table . rows . length > 2 ) {
      for (let row of table.rows) {
        row . deleteCell (colIndex)
      }
    }
  }

  // Creates a table cell containing a button which,
  // when pressed, deletes the containing row
  // (including itself).
  function mkCell_deleteRow () {
    let cell = document . createElement ( "td" );
    var button = document . createElement ( "input" );
    cell . appendChild ( button );
    button . type = "button";
    button . value = "borrar fila"
    button . onclick = function () { deleteRow( button ) };
    return cell;
  }

  // Creates a table cell containing a button which,
  // when pressed, deletes the containing column
  // (including itself).
  function mkCell_deleteColumn () {
    let cell = document . createElement ( "td" );
    var button = document . createElement ( "input" );
    cell . appendChild ( button );
    button . type = "button";
    button . value = "borrar columna";
    button . onclick = function () { deleteColumn (button) };
    return cell;
  }

  // Creates a row with one blank cell,
  // the rest buttons to delete that column.
  function insertRow_deleteColumns (
    table, // where the table is inserted
    n      // How many columns will need a button to delete it.
  ) {
    var row   = document . createElement ( "tr" );
    table . appendChild ( row );
    row . appendChild ( mkCell_text ( "td", "" ) )
    for (let i = 0; i < n; i++) {
      row . appendChild ( mkCell_deleteColumn () )
    }
  }

  // Appends to the "User input" object
  // a button that inserts a row in `tax_table`.
  function insert_button ( label, onclick ) {
    var button = document . createElement ( "input" );
    ( document . getElementById ( "User input" )
      . appendChild ( button ) );
    button . type = "button";
    button . value = label
    button . onclick = onclick
  }


  // // // //
  // // // // Income tax
  // // // //

  // Modifies `tax_table`. Returns nothing.
  function insertRow_marginalRate (
      tax_table,
      tax_name,
      rate = null,
      min_income = null ) {
    // Duplicates some of the code in insertTable_incomeTax.
    var row   = document . createElement ( "tr" );
    row . appendChild (
      mkCell ( "td",
               mkInput_numeric (
                 "income tax, " + tax_name + ", tax rate",
                 value = rate ) ) )
    threshold_in_uvt = mkInput_numeric (
        "income tax, " + tax_name + ", min income",
        value = min_income )
    threshold_in_cop = mkInput_numeric (
        "income tax, " + tax_name + ", min income in 2022 COP",
      value = min_income * cop_per_uvt )
    tie_numeric_inputs_via_a_factor (
      threshold_in_uvt, threshold_in_cop, cop_per_uvt )
    row . appendChild ( mkCell ( "td", threshold_in_uvt ) )
    row . appendChild ( mkCell ( "td", threshold_in_cop ) )
    row . appendChild ( mkCell_deleteRow () );
    tax_table . appendChild ( row );
  }

  function createTable_incomeTax (
    tax_name, tax_rates, tax_name_in_spanish
  ) {
    let tax_table = document . createElement ( "table" );
    tax_table . createCaption ();
    tax_table . innerHTML = tax_name_in_spanish; // Set the caption.
    tax_table . border = "1";

    let row_1 = document . createElement ( "tr" );
    tax_table . appendChild ( row_1 );
    row_1 . appendChild (
      mkCell_text ( "th", "Tasa impositiva" ) )
    row_1 . appendChild (
      mkCell_text (
        "th",
        "Ingreso mínimo para aplicar la tasa, en UVTs" ) )
    row_1 . appendChild (
      mkCell_text (
        "th",
        "Ingreso mínimo para aplicar la tasa, en COP (2022)" ) )
    for (let row of tax_rates) {
      insertRow_marginalRate(
        tax_table, tax_name, row[0], row[1] ); }
    return tax_table;
  }

  function insertTableAndContext_incomeTax (
    tax_name, tax_rates, tax_name_in_spanish
  ) {
    let hostForm = document . getElementById ( "User input" )
    let tax_table = createTable_incomeTax (
      tax_name, tax_rates, tax_name_in_spanish );
    hostForm . appendChild ( tax_table );
    insert_button (
      "agregar intervalo de impuestos",
      function () {
        insertRow_marginalRate ( tax_table, tax_name ) } )
    insertHr ( hostForm )
  }


  // // // //
  // // // // VAT
  // // // //

  nonce_for_column_names = (
    // PITFALL: Global variable.
    // This number is arbitrary, but it must be
    // greater than the number of VAT rates initially in the table.
    // Each time a VAT rate is added,
    // this becomes the name of that rate,
    // and is incremented by one.
    //
    // This is not needed for the income tax,
    // because there the name of the row added doesn't matter;
    // in fact it doesn't even have one.
    9999 )

  // Modifies `table`. Returns nothing.
  function insertRow_VATHeader_transposed (
    table,
    rate_groups // a list of (index starting from 0, VAT rate) pairs
  ) {
    var row   = document . createElement ( "tr" );
    table . appendChild ( row );
    row . appendChild (
      mkCell_text ( "th", "tax rate" ) )
    for (let rg of rate_groups) {
      let rate_index = rg [0]
      let rate       = rg [1]
      row . appendChild (
        mkCell ( "td",
                 mkInput_numeric ( "VAT, rate, " + rate_index,
                                   rate ) ) )
    }
  }

  function insertRow_VAT_transposed (
    table,         // what to modify
    kind_of_group, // either "coicop_prefix" or "other_groups"
    rate_groups,   // a list of (index starting from 0, VAT rate) pairs
    consumable_id, // what this new row will describe, e.g. "medicines"
    consumable_label, // how it is described to the user
    rate_index_of_consumable, // an index into rate_groups, starting at 0
    check_all // Whether to check every radio button created.
              // Reasonable only if there's only one column of radio buttons.
  ) {
    var row   = document . createElement ( "tr" );
    table . appendChild ( row );
    row . appendChild (
      mkCell_text ( "td", consumable_label ) )
    for (let rgi of rate_groups) {
      let rate_index = rgi [0]
      row . appendChild (
        mkCell ( "td",
                 mkInput_radio (
                   name    = "VAT, " + kind_of_group + ", " + consumable_id,
                   value   = rate_index,
                   checked = ( check_all ||
                               (rate_index == rate_index_of_consumable) )
                               ) ) )
    }
  }

  function insertColumn_VAT_transposed (
    table, // what to modify
    kind_of_group, // either "coicop_prefix" or "other_groups"
    consumable_pairs // (name, rate index) pairs for each consumable group,
                     // e.g. [ ("medicine",0), ..]
  ) {
    nonce_for_column_names = (
      nonce_for_column_names + 1 )
    table.rows[0] . appendChild (
      mkCell ( "td",
               mkInput_numeric (
                 "VAT, rate, " + nonce_for_column_names,
                 0 ) ) )
    for ( let ci = 0; ci < consumable_pairs.length; ci++) {
      let consumable = consumable_pairs [ci] [0]
      table.rows [ ci+1 ] . appendChild ( // +1 to skip the header row
        mkCell ( "td",
                 mkInput_radio (
                   name    = "VAT, " + kind_of_group + ", " + consumable,
                   value   = nonce_for_column_names ) ) ) }
    table.rows [ consumable_pairs.length + 1 ] . appendChild (
      mkCell_deleteColumn () )
  }

  function insertTableAndContext_VAT_transposed (
    kind_of_group, // either "coicop_prefix" or "other_groups"
    rate_groups,
    consumable_groups,
    check_all = false
  ) {
    let hostForm = document . getElementById ( "User input" )

    let table = document . createElement ( "table" )
    hostForm . appendChild ( table )

    table . border = "1"
    insertRow_VATHeader_transposed ( table, rate_groups )

    for (let ci of consumable_groups) {
      let consumable_id            = ci [0]
      let rate_index_of_consumable = ci [1]
      let consumable_label         = ci [2]
      insertRow_VAT_transposed (
        table                    = table,
        kind_of_group            = kind_of_group,
        rate_groups              = rate_groups,
        consumable_id            = consumable_id,
        consumable_label         = consumable_label,
        rate_index_of_consumable = rate_index_of_consumable,
        check_all                = check_all
      )
    }
    // insertRow_deleteColumns ( table, rate_groups.length )
      // We decided this is confusing.
    insert_button (
      "agregue otra tasa del IVA",
      function () {
        insertColumn_VAT_transposed (
          table,
          kind_of_group,
          consumable_groups )
      } )
  }

</script>

<h1> ¡Simula tu propia reforma tributaría! </h1>

<hr> <hr>

<form id = "User input"
      action = "{% url 'run_make:manual_ingest'%}"
      enctype="multipart/form-data"
      method = "post">
  {% csrf_token %}

  <h2> Datos para enviarte los resultados. </h2>

  {% for field in advanced_specs_form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      <br>
    </div>
  {% endfor %}

  <br> <hr> <hr>

  <h2> Impuesto de renta </h2>

  <script>
    {% for sched in income_taxes %}
      // PITFALL: The `var` keyword must be used here,
      // because these three variables are redefined
      // each time Django evaluates this { } loop.
      var sched = {{sched|safe}}
        // PITFALL: This is necessary.
        // Javascript won't recognize Django-passed variables
        // like {{sched}} inside of functions.
        // I don't know why the |safe is needed but it is.
      var tax_name            = sched[0]
      var tax_rates           = sched[1]
      var tax_name_in_spanish = sched[2]
      insertTableAndContext_incomeTax (
        tax_name, tax_rates, tax_name_in_spanish )
    {% endfor %}

  </script>

  <hr>

  <h2> IVA </h2>

  Tasa base del IVA según código COICOP <br>
  (Cada bien esta en uno y solo uno de estos grupos.) <br>

  <script>
    var vat_rate_groups             = {{vat_rate_groups|safe}}
    var consumable_groups_by_coicop = {{consumable_groups_by_coicop|safe}}
    var consumable_groups_other     = {{consumable_groups_other|safe}}
    insertTableAndContext_VAT_transposed (
      kind_of_group     = "coicop_prefix",
      rate_groups       = vat_rate_groups,
      consumable_groups = consumable_groups_by_coicop )
  </script>

  <br> <br>
  Tasas del IVA para grupos particulares de bienes. <br>
  Hay bienes que están en varios grupos
  y hay otros que no estan en ningún grupo. <br>
  Las tasas negativas son válidas y representan subsidios. <br>

  <script>
    // PITFALL:  The columns of the two VAT tables must use different rate group indices.
    // That's why nonce_for_column_names is used below, and then incremented.
    insertTableAndContext_VAT_transposed (
      kind_of_group     = "other_groups",
      rate_groups       = [[ nonce_for_column_names, 0 ]],
      consumable_groups = consumable_groups_other,
      check_all         = true )
    nonce_for_column_names = (
      nonce_for_column_names + 1 )
  </script>

  <br> <hr> <hr>

  <input type="submit" value="Enviar">

  <br> <hr> <hr>

  <h1> Algunas definiciones <h1>

    <script>
      {% for e in explainiers %}
      dummy = document . createElement ( "span" )
      dummy . innerHTML = ( "\"" +
                            {{ e | safe }} [0] + "\"  ->  " +
                            {{ e | safe }} [1] )
      document . body . appendChild ( dummy )
      for ( let i of [1,2] ) {
        document . body . appendChild (
          document . createElement ( "br" ) ) }
      {% endfor %}
    </script>

</form>
