<!-- Based on django/run_make/templates/run_make/dynamic_form.html

PITFALL: Global-ish names
-------------------------
Basically the names of HTML things are a hidden bowl of spaghetti.
Don't even trust the names described in this comment.
Instead, to consult the single source of truth, open the page in Firefox,
and then open the Inspector with Ctrl-Shift-C, to see the generated DOM.

At the moment, the ID "User input" resembles a global variable.
  It does not change, but it does confuse at least this reader.
There are also some elements called `tax_name + " table"`,
  where `tax_name` is some tax. For each tax, there should be such a table.
-->

<script>
  var uniqueIdSuffix = 1; // PITFALL: Mutates.

  // Delete the row containing the button
  // that triggered the deletion.
  function deleteRow ( button ) {
    var cell  = button . parentNode;
    var row   = cell   . parentNode;
    var table = row    . parentNode;
    if ( table.rows.length > 2 ) {
      // PITFALL: If there is only one row of values --
      // the first row being titles, not values --
      // then the user is not allowed to delete it.
      // This isn't critical; it just reduces user confusion.
      table . deleteRow ( row . rowIndex );
    }
  }

  function marginalRate_insertRow (
      tax_name,
      rate = null,
      min_income = null ) {
    // Duplicates some of the code in insertTable_incomeTax.
    var table = document . getElementById (
      tax_name + " table" );
    var row   = document . createElement ( "tr" );
    table . appendChild ( row );
    row . appendChild ( numericInputCell (
      "income tax, " + tax_name + ", tax rate",
      value = rate ) );
    row . appendChild ( numericInputCell (
      "income tax, " + tax_name + ", min income",
      value = min_income ) );
    row . appendChild ( deleteRow_cell () );
  }

  // Inserts a button that inserts a row
  // in the table named `tableName`.
  function insert_insertRowButton ( tableName ) {
    var button = document . createElement ( "input" );
    button . type = "button";
    button . id = tableName + " button to add row";
    button . value = "Add row";
    button . onclick = function () {
      marginalRate_insertRow ( tableName ) };
    ( document . getElementById ( "User input" )
      . appendChild ( button ) );
  }

  // Creates a table cell containing aa button which,
  // when pressed, deletes the containing row
  // (including itself).
  function deleteRow_cell () {
    let cell = document . createElement ( "td" );
    var button = document . createElement ( "input" );
    cell . appendChild ( button );
    button . type = "button";
    button . id = "delete row id" + uniqueIdSuffix ++;
    button . value = "delete row";
    button . onclick = function () { deleteRow( button ) };
    return cell;
  }

  // Returns a table cell, not yet part of any table,
  // containing a numeric input without range limits.
  function numericInputCell ( name, value = null ) {
    let cell = document . createElement ( "td" );
    let input = document . createElement ( "input" );
    input . id   = name + " id";
    input . name = name;
    input . step = "any";
    input . type = "number";
    if (value != null) {input . value = value; }
    else               {input . value = 0; };
    cell . appendChild ( input );
    return cell;
  }

  // Returns a table cell containing `name` as static text.
  function headingCell ( name ) {
    let cell = document . createElement ( "th" );
    cell . innerHTML = name;
    return cell;
  }

  // TODO ? If sharing this across both types is feasible,
  // Provide heading cell captions in a list
  // as a function argument, so that this can be used
  // for both VAT and income taxes.
  function createTable_incomeTax ( tax_name ) {
    let table = document . createElement ( "table" );
    table . id = tax_name + " table";
    table . createCaption ();
    table . innerHTML = tax_name; // Set the caption.
    table . border = "1";

    let row_1 = document . createElement ( "tr" );
    row_1 . appendChild (
      headingCell ( "Tax rate" ) );
    row_1 . appendChild (
      headingCell ( "Min income subject to rate" ) );
    table . appendChild ( row_1 );

    return table;
  }

  // TODO ? If sharing this across both tax types is feasible,
  // then pull everything preceding the loop,
  // into a new function, to reuse for VAT rates.
  function insertTable_incomeTax ( tax_name, tax_rates ) {
    let hostForm = document . getElementById ( "User input" )
    let table = createTable_incomeTax ( tax_name );
    let linebreak = document . createElement ( "hr" );
      // PITFALL: Bizarrely,
      // if a "br" rather than an "hr" is created here,
      // it only works for the first table.

    hostForm . appendChild ( linebreak );
    hostForm . appendChild ( table );
    for (let row of tax_rates) {
      // TODO: Move this `marginalRate_insertRow`
      // call to `createTable_incomeTax`.
      // That way it would not need to use `tax_name`
      // to look up the table to modify.
      marginalRate_insertRow( tax_name, row[0], row[1] ); }
    insert_insertRowButton ( tax_name );
  }
</script>

<form id = "User input"
      action = "{% url 'run_make:manual_ingest'%}"
      enctype="multipart/form-data"
      method = "post">
  {% csrf_token %}

  {% for field in advanced_specs_form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      <br>
    </div>
  {% endfor %}

  {% for sched in taxes %}
    <script>
      var sched = {{sched|safe}}
      // PITFALL: This is necessary!
      // Javascript won't recognize Django-passed variables
      // like {{sched}} inside of functions.
      // I don't know why the |safe is needed but it is.
      insertTable_incomeTax( sched[0], sched[1] )
    </script>
  {% endfor %}

  <br>
  <hr>
  <br>
  <input type="submit" value="Submit">
</form>
