<!-- Based on django/run_make/templates/run_make/dynamic_form.html

PITFALL: Global-ish names
-------------------------
Basically the names of HTML things are a hidden bowl of spaghetti.
Don't even trust the names described in this comment.
Instead, to consult the single source of truth, open the page in Firefox,
and then open the Inspector with Ctrl-Shift-C, to see the generated DOM.

At the moment, the ID "User input" resembles a global variable.
  It does not change, but it does confuse at least this reader.
There are also some elements called `tax_name + " table"`,
  where `tax_name` is some tax. For each tax, there should be such a table.
-->

<script>

  // // // //
  // // // // Tax-agnostic utilities
  // // // //

  // Returns a table cell, not yet part of any table,
  // containing a numeric input without range limits.
  function numericInputCell ( name, value = null ) {
    let cell = document . createElement ( "td" );
    let input = document . createElement ( "input" );
    cell . appendChild ( input );
    input . name = name;
    input . step = "any";
    input . type = "number";
    if (value != null) {input . value = value; }
    else               {input . value = 0; };
    return cell;
  }

  // Returns a table cell containing `name` as static text.
  function headingCell ( name ) {
    let cell = document . createElement ( "th" );
    cell . innerHTML = name;
    return cell;
  }

  // Modifies `hostForm`. Returns nothing.
  function insertHr ( hostForm ) {
    // PITFALL: Bizarrely, if a "br" rather than an "hr" is created here,
    // it only works for the first table.
    hostForm . appendChild (
      document . createElement ( "hr" ) )
  }

  // Delete the row containing the button.
  function deleteRow ( button ) {
    var cell  = button . parentNode;
    var row   = cell   . parentNode;
    var table = row    . parentNode;
    if ( table.rows.length > 2 ) {
      // PITFALL: If there is only one row of values --
      // the first row being titles, not values --
      // then the user is not allowed to delete it.
      // This isn't critical; it just reduces user confusion.
      table . deleteRow ( row . rowIndex );
    }
  }

  // Creates a table cell containing a button which,
  // when pressed, deletes the containing row
  // (including itself).
  function deleteRow_cell () {
    let cell = document . createElement ( "td" );
    var button = document . createElement ( "input" );
    cell . appendChild ( button );
    button . type = "button";
    button . value = "delete row";
    button . onclick = function () { deleteRow( button ) };
    return cell;
  }

  // Appends to the "User input" object
  // a button that inserts a row in `tax_table`.
  function insert_insertRowButton ( insertRow_function ) {
    var button = document . createElement ( "input" );
    ( document . getElementById ( "User input" )
      . appendChild ( button ) );
    button . type = "button";
    button . value = "Add row";
    button . onclick = insertRow_function;
  }


  // // // //
  // // // // Income tax
  // // // //

  // Modifies `tax_table`. Returns nothing.
  function insertRow_marginalRate (
      tax_table,
      tax_name,
      rate = null,
      min_income = null ) {
    // Duplicates some of the code in insertTable_incomeTax.
    var row   = document . createElement ( "tr" );
    tax_table . appendChild ( row );
    row . appendChild ( numericInputCell (
      "income tax, " + tax_name + ", tax rate",
      value = rate ) );
    row . appendChild ( numericInputCell (
      "income tax, " + tax_name + ", min income",
      value = min_income ) );
    row . appendChild ( deleteRow_cell () );
  }

  function createTable_incomeTax ( tax_name, tax_rates ) {
    let tax_table = document . createElement ( "table" );
    tax_table . createCaption ();
    tax_table . innerHTML = tax_name; // Set the caption.
    tax_table . border = "1";

    let row_1 = document . createElement ( "tr" );
    tax_table . appendChild ( row_1 );
    row_1 . appendChild (
      headingCell ( "Tax rate" ) );
    row_1 . appendChild (
      headingCell ( "Min income subject to rate" ) );
    for (let row of tax_rates) {
      insertRow_marginalRate(
        tax_table, tax_name, row[0], row[1] ); }

    return tax_table;
  }

  function insertTableAndContext_incomeTax ( tax_name, tax_rates ) {
    let hostForm = document . getElementById ( "User input" )
    let tax_table = createTable_incomeTax ( tax_name, tax_rates );
    insertHr ( hostForm )
    hostForm . appendChild ( tax_table );
    insert_insertRowButton (
      function () {
        insertRow_marginalRate ( tax_table, tax_name ) } ) }

</script>

<form id = "User input"
      action = "{% url 'run_make:manual_ingest'%}"
      enctype="multipart/form-data"
      method = "post">
  {% csrf_token %}

  {% for field in advanced_specs_form %}
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      <br>
    </div>
  {% endfor %}

  <script>
    {% for sched in taxes %}
      var sched = {{sched|safe}}
        // PITFALL: This is necessary.
        // Javascript won't recognize Django-passed variables
        // like {{sched}} inside of functions.
        // I don't know why the |safe is needed but it is.
      var tax_name = sched[0]
      var tax_rates = sched[1]
      insertTableAndContext_incomeTax ( tax_name, tax_rates )
    {% endfor %}


  </script>

  <br>
  <hr>
  <br>
  <input type="submit" value="Submit">
</form>
